<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div th:each="frame : ${manga}">
    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.64Rp5Re3Vm_Gx1QCVULT-wHaEo%26pid%3DApi&f=1&ipt=ce39db9468b086414fd50767aaf7398ad9992fe105178bc88f68a1442b5f0b43&ipo=images">
    <div>
        <ol>
            <li><h2 th:text="${frame.name}"></h2></li>
            <li><h4 th:text="${frame.getAlter_name}"></h4></li>
            <li><h4 th:text="${frame.genre}"></h4></li>
            <li><h4 th:text="${frame.date_of_appearance}"></h4></li>
            <li><h4 th:text="${frame.status}"></h4></li>
            <li><h4 th:text="${frame.author}"></h4></li>
            <li><h4 th:text="${frame.type}"></h4></li>
            <li><h4 th:text="${frame.description}"></h4></li>
        </ol>
    </div>
    <form method="post" action="#" th:action="@{'/manga/delete/' + ${frame.id}}">
        <input type="hidden" name="delete" value="DELETE">
        <button type="submit">DELETE</button>
    </form>
    <a href="/home/menu">
        <button>BACK</button>
    </a>
</div>
</body>
</html>